<%# locals: (form:, disabled: false, required: false, name:, label: nil, id:, frame: nil, suffix: nil, type: 'text', url: nil, selected: [], options: [], value: nil) %>
<%- id = [name, suffix].compact_blank.join('-') -%>
<div data-controller="material-chips-input"
     data-material-chips-input-url-value="<%= url %>"
     data-material-chips-input-name-value="<%= name %>"
     data-material-chips-input-material-list-outlet="#<%= "#{id}-list" %>"
     <% if suffix.present? %>data-material-chips-input-suffix-value="<%= suffix %>"<% end %>
     data-action="keydown.esc->material-chips-input#close keydown.enter->prevent-default country-select-focus->material-chips-input#confirmSelection"
>
  <label class="mdc-text-field mdc-text-field--filled w-full !h-max !h-full">
    <span class="mdc-text-field__ripple"></span>
    <span class="mdc-floating-label !top-6"><%= label %></span>
    <div class="mdc-chip-set mdc-chip-set--input !pt-8 w-full" role="grid">
      <%- selected.each do |chip| -%>
        <div class="mdc-chip">
          <div class="mdc-chip__text"><%= chip[:label] %></div>
          <!--        <i class="material-icons mdc-chip__icon mdc-chip__icon--trailing" tabindex="0" role="button">cancel</i>-->
        </div>
      <%- end -%>
      <%= form.hidden_field name.to_sym, value: value, data: { 'material-chips-input-target': 'hidden' } %>
      <%= form.text_field "#{name}_".to_sym,
                          class: 'mdc-text-field__input', value: value || form&.object&.[](name.to_sym),
                          id: id, 'aria-labelledby' => id + '-label',
                          required: required,
                          disabled: disabled,
                          type: type,  autocomplete: "new-password",
                          data: { 'material-chips-input-target': 'input',
                                  action: 'input->material-chips-input#search mousedown->material-chips-input#toggle keydown.down->material-chips-input#focusNext keydown.up->material-chips-input#focusPrevious keydown.enter->material-chips-input#confirmSelection keydown->material-chips-input#open' }
      %>
    </div>
    <span class="mdc-line-ripple"></span>
  </label>
  <div class="mdc-menu-surface--anchor">
    <%= render partial: 'components/chips_input_options', locals: { options: options, suffix: suffix, name: name, label: label } %>
  </div>
</div>
