<%# locals: (form:, custom_controller: nil, custom_css: nil, disabled: false, required: false, name:, label: nil, id:, frame: nil, provide_hidden: false, value: nil, type: 'text', data: {}, min: nil, max: nil, helper: nil, parent: nil, style: 'filled', leading_icon: nil, trailing_icon: nil, leading_icon_data: {}, trailing_icon_data: {}) %>
<label class="mdc-text-field rounded-none <%= style == 'filled' ? 'mdc-text-field--filled' : 'mdc-text-field--outlined' %> <%= (value || form&.object&.[](name.to_sym)).present? ? 'mdc-text-field--label-floating' : '' %> w-full <%= leading_icon ? 'mdc-text-field--with-leading-icon' : '' %> <%= trailing_icon ? 'mdc-text-field--with-trailing-icon' : '' %> <%= custom_css %>"
       data-controller="<%= custom_controller || 'material-input' %>" <% if frame %>data-frame="<%= frame %>"<% end %>>
  <%- if style == 'filled' -%>
    <span class="mdc-text-field__ripple"></span>
    <span class="mdc-floating-label <%= (value || form&.object&.[](name.to_sym)).present? ? 'mdc-floating-label--float-above' : '' %>" id="<%= id %>-label">
      <%= label || name.capitalize %>
    </span>
  <%- else -%>
    <span class="mdc-notched-outline">
      <span class="mdc-notched-outline__leading"></span>
      <span class="mdc-notched-outline__notch w-fit!">
        <span class="mdc-floating-label" id="<%= id %>-label">
          <%= label || name.capitalize %>
        </span>
      </span>
      <span class="mdc-notched-outline__trailing"></span>
    </span>
  <% end %>
  <%- if leading_icon -%>
    <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" <%= tag.attributes((trailing_icon ? {} : {tabindex: '0', role: 'button'}).merge(data: leading_icon_data)) %>><%= leading_icon %></i>
  <%- end -%>
  <%= form.text_field provide_hidden ? "#{name}_".to_sym : name.to_sym,
                      class: 'mdc-text-field__input', value: value || form&.object&.[](name.to_sym),
                      id: id, 'aria-labelledby' => id + '-label',
                      required: required, disabled: disabled,
                      type: type,  autocomplete: "new-password", data: { frame: frame, **(data) }.compact,
                      min: min, max: max
  %>
  <%- if trailing_icon -%>
    <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing" <%= tag.attributes(tabindex: '0', role: 'button', data: trailing_icon_data) %>><%= trailing_icon %></i>
  <%- end -%>
  <%- if style == 'filled' -%><span class="mdc-line-ripple"></span><%- end -%>
  <%- if provide_hidden -%><%= form.hidden_field name.to_sym, value: value, data: { frame: frame }.compact %><%- end -%>
</label>
<div class="mdc-text-field-helper-line">
  <%- if helper -%>
    <div class="mdc-text-field-helper-text" aria-hidden="true"><%= helper %></div>
  <%- end -%>
  <div class="mdc-text-field-helper-text--validation-msg text-sm text-red-500 hidden jserror">
  </div>
  <%- parent&.errors&.[](name.to_sym)&.each do |msg| -%>
    <div class="mdc-text-field-helper-text--validation-msg text-sm text-red-500"
         aria-hidden="true">
      <%= msg %>
    </div>
  <%- end -%>
</div>
