<%# locals: (form:, custom_controller: nil, custom_css: nil, disabled: false, required: false, name:, label: nil, id:, checked: false, frame: nil, provide_hidden: false, value: nil, type: 'text', data: {}, min: nil, max: nil, helper: nil, parent: nil) %>
<label class="mdc-text-field mdc-text-field--filled w-full <%= custom_css %>"
       data-controller="<%= custom_controller || 'material-input' %>" <% if frame %>data-frame="<%= frame %>"<% end %>>
  <span class="mdc-text-field__ripple"></span>
  <span class="mdc-floating-label" id="<%= id %>-label">
    <%= label || name.capitalize %>
  </span>
  <%= form.text_field provide_hidden ? "#{name}_".to_sym : name.to_sym,
                      class: 'mdc-text-field__input', value: value || form&.object&.[](name.to_sym),
                      id: id, 'aria-labelledby' => id + '-label',
                      required: required, disabled: disabled,
                      type: type,  autocomplete: "off", data: { frame: frame, **(data) }.compact,
                      min: min, max: max
  %>
  <span class="mdc-line-ripple"></span>
  <%- if provide_hidden -%>
    <%= form.hidden_field name.to_sym, value: value, data: { frame: frame }.compact %>
  <%- end -%>
</label>
<div class="mdc-text-field-helper-line">
  <%- if helper -%>
    <div class="mdc-text-field-helper-text" aria-hidden="true"><%= helper %></div>
  <%- end -%>
  <div class="mdc-text-field-helper-text--validation-msg text-sm text-red-500 hidden jserror">
  </div>
  <%- parent&.errors&.[](name.to_sym)&.each do |msg| -%>
    <div class="mdc-text-field-helper-text--validation-msg text-sm text-red-500"
         aria-hidden="true">
      <%= msg %>
    </div>
  <%- end -%>
</div>
