<%# locals: (form:, disabled: false, required: false, name:, label: nil, id:, value: nil, parent: nil, frame: nil, selected_text: nil, fixed: false, options: [], hint: nil, helper: nil, additional_classes: 'w-full', outlined: false) %>
<div class="mdc-select <%= outlined ? 'mdc-select--outlined' : 'mdc-select--filled' %> <%= label ? '' : 'mdc-select--no-label' %> <%= disabled ? ' mdc-select--disabled' : '' %><%= required ? ' mdc-select--required' : '' %> <%= additional_classes %>"
     data-controller="material-select" <% if frame %> data-frame="<%= frame %>"<% end %> id="<%= id %>">
  <%= form.hidden_field name.to_sym, value: value %>
  <div class="mdc-select__anchor"
       role="button"
       aria-haspopup="listbox"
       aria-expanded="false"
       aria-labelledby="<%= id %>-label <%= id %>-selected-text"
       <% if disabled %>aria-disabled="true"<% end %>
       <% if required %>aria-required="true"<% end %>
  >
    <%- unless outlined -%>
        <span class="mdc-select__ripple"></span>
        <%- if label -%><span id="<%= id %>-label" class="mdc-floating-label"><%= label || name.capitalize %></span><%- end -%>
    <%- else -%>
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <%- if label -%><span id="outlined-select-label" class="mdc-floating-label"><%= label || name.capitalize %></span><%- end -%>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
    <%- end -%>
    <span class="mdc-select__selected-text-container">
      <span id="<%= id %>-selected-text" class="mdc-select__selected-text">
        <%= selected_text || value %>
      </span>
    </span>
    <%= render 'components/select_dropdown_icon' %>
    <%- unless outlined -%><span class="mdc-line-ripple"></span><%- end -%>
  </div>

  <div class="mdc-select__menu mdc-menu mdc-menu-surface !z-100 <%= fixed ? 'mdc-menu-surface--fixed' : 'mdc-menu-surface--fullwidth' %>" id="<%= id %>-surface">
    <ul class="mdc-deprecated-list" role="listbox" aria-label="<%= label %> listbox">
      <% options.each do |option| %>
        <li class="mdc-deprecated-list-item<%= value == option[:value] ? ' mdc-deprecated-list-item--selected' : '' %>" aria-selected="<%= (value == option[:value]).to_s %>" data-value="<%= option[:value] %>" role="option">
          <span class="mdc-deprecated-list-item__ripple"></span>
          <span class="mdc-deprecated-list-item__text"><%= option[:label] %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%- if hint.present? -%>
  <div class="font-sans text-xs p-2"><%= hint %></div>
<%- end -%>
<%- if helper.present? || parent&.errors.present? -%>
  <div class="mdc-text-field-helper-line">
    <%- if helper -%>
      <div class="mdc-text-field-helper-text" aria-hidden="true"><%= helper %></div>
    <%- end -%>
    <%- parent&.errors&.[](name.to_sym)&.each do |msg| -%>
      <div class="mdc-text-field-helper-text--validation-msg text-sm text-red-500"
           aria-hidden="true">
        <%= msg %>
      </div>
    <%- end -%>
  </div>
<%- end -%>
