<%# locals: (form:, custom_controller: nil, custom_css: nil, disabled: false, required: false, name:, label: nil, id:, frame: nil, provide_hidden: false, value: nil, type: 'text', data: {}, rows: 8, cols: 40, maxlength: 140, helper: nil, parent: nil) %>
<label class="mdc-text-field mdc-text-field--filled mdc-text-field--textarea mdc-text-field--no-label w-full! p-2"
       data-controller="<%= custom_controller || 'material-input' %>" <% if frame %>data-frame="<%= frame %>"<% end %>>
  <span class="mdc-notched-outline">
    <span class="mdc-notched-outline__leading"></span>
    <span class="mdc-notched-outline__trailing"></span>
  </span>

  <%= form.text_area provide_hidden ? "#{name}_".to_sym : name.to_sym,
                     class: 'mdc-text-field__input', value: value || form&.object&.[](name.to_sym),
                     id: id, 'aria-labelledby' => id + '-label', required: required, disabled: disabled,
                     autocomplete: "new-password", data: { frame: frame }.compact, rows: rows, cols: cols, maxlength: maxlength
  %>
  <span class="mdc-text-field-character-counter">0 / <%= maxlength %></span>

  <%- if provide_hidden -%>
    <%= form.hidden_field name.to_sym, value: value, data: { frame: frame }.compact %>
  <%- end -%>
</label>
<div class="mdc-text-field-helper-line">
  <%- if helper -%>
    <div class="mdc-text-field-helper-text" aria-hidden="true"><%= helper %></div>
  <%- end -%>
  <%- parent&.errors&.[](name.to_sym)&.each do |msg| -%>
    <div class="mdc-text-field-helper-text--validation-msg text-sm text-red-500" aria-hidden="true">
      <%= msg %>
    </div>
  <%- end -%>
</div>

